<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="{:config('admin_static')}/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="{:config('admin_static')}/js/jquery.js"></script>
    <script>
        function(a, b) {
            function c(a) {
                return a[0] || (a = []),
                    new KNode(a)
            }
            if (a !== undefined && null !== a) {
                if ("string" == typeof a) {
                    b && (b = _get(b));
                    var d = a.length;
                    if ("@" === a.charAt(0) && (a = a.substr(1)), a.length !== d || /<.+>/.test(a)) {
                        var e = b ? b.ownerDocument || b: document,
                            f = e.createElement("div"),
                            g = [];
                        f.innerHTML = '<img id="__kindeditor_temp_tag__" width="0" height="0" style="display:none;" />' + a;
                        for (var h = 0,
                                 i = f.childNodes.length; i > h; h++) {
                            var j = f.childNodes[h];
                            "__kindeditor_temp_tag__" != j.id && g.push(j)
                        }
                        return c(g)
                    }
                    return c(_queryAll(a, b))
                }
                return a && a.constructor === KNode ? a: (a.toArray && (a = a.toArray()), c(_isArray(a) ? a: _toArray(arguments)))
            }
        }
    </script>
    <style>
        .active{
            border-bottom: solid 3px #66c9f3;
        }
    </style>
</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">文章</a></li>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle">
            <span class="active">添加文章</span>

        </div>
        <form action="{:url('admin/article/add')}" method="post" enctype="multipart/form-data">
            <ul class="forminfo">
                <li>
                    <label>文章标题</label>
                    <input name="title" placeholder="请输入文章标题" type="text" class="dfinput" />
                </li>
                <li>
                    <label>文章图片</label>
                    <input name="ori_img" type="file" id="f" onchange="change()" /><i></i>
                    <p>
                        <img id="preview"  alt="" width="300px"  name="pic" />
                    </p>
                </li>
                <li>
                    <label>所属分类</label>
                    <select name="cat_id" class="dfinput">
                        <option value="">选择分类</option>
                        <option value="0">顶级分类</option>
                        {foreach name = 'cats' item = 'cat'}
                        <option value="{$cat['cat_id']}">{:str_repeat('&nbsp', $cat['level'] * 2)}{$cat['cat_name']}</option>
                        {/foreach}
                    </select>
                </li>
                <li>
                    <label>文章内容</label>
                    <textarea name="content" id="content" rows="" cols=""></textarea>
                </li>
                
            </ul>
			<li>
                    <label>&nbsp;</label>
                    <input name="" id="btnSubmit" type="submit" class="btn" value="确认保存" />
             </li>
        </form>
    </div>
</body>
<script src="{:config('plugins_static')}/kindeditor/kindeditor-all-min.js"></script>
<script src="{:config('plugins_static')}/kindeditor/lang/zh-CN.js"></script>
<script src="{:config('plugins_static')}/placeImage.js"></script>
<script>
    $(".formtitle span").click(function(event){
        $(this).addClass('active').siblings("span").removeClass('active') ;
        var index = $(this).index();
        $("ul.forminfo").eq(index).show().siblings(".forminfo").hide();
    });
     $(".formtitle span").eq(0).click();

     //富文本编辑器
    KindEditor.ready(function(K) {
        window.editor = K.create('#content',{
            width:'900px',
            height:"300px",
            afterBlur:function(){this.sync();}
        });
    });

    function f1(){
        KindEditor.instances[0].html("");//0表示第一个KindEditor对象

    }


</script>

</html>
